<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Academia.Properties.Settings.academiaConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS2008;Initial Catalog=academia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>